@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', sans-serif;
}
body{
    background-color: #e4e6eb;
}
.child-child1 .avatar {
    color: red;
    font-size: 40px;
}


.parent-section{
    margin-top: 70px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    margin: 70px 20% 20px 20%;
    padding: 10px 10px;
}
.parent-section .child-sec1{
    width: 100%;
    margin: 0px auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: white;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.child-sec1 .child-child1{
    border-radius: 6px;
    width: 100%;
    background-color: #A0B4B7;
    height: 100px;
    margin: 0px auto;
}
.child-child1 div{
    margin-top: 70px;
    margin-left: 50px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #d4dae2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child-sec1 .name-title{
    margin: 50px 40px ;
}
.name-title h1{
    font-size: 30px;
    margin-bottom: -12px;
}
.name-title p{
    font-weight: 200;
}


.parent-section .child-sec2{
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.child-sec2 form{
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}
.child-sec2 form h1{
    align-self: center;
    margin-bottom: 10px;
}
form div{
    margin-bottom: 10px;
}
form label{
    font-size: 20px;
    margin-right: 10px;
}
form input[type="number"],
form select,
form textarea,
/* form textarea[name="bio"], */
form select[name="gender"],
form input[type="url"],
form input[type="date"] {
    width: 100%;
    font-size: 20px;
    padding: 2px 10px;
    resize: none;
    /* Your styles here */
}

form button{
    background-color: #0866ff;
    font-size: 20px;
    width: 100%;
    padding: 5px 30px;
    border-radius: 6px;
    border:1px solid #0866ff;
    cursor: pointer;
    
}
form button:active{
    background-color: #10479e;
}
form button:hover{
    background-color: #10479e;
}